.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3%;
    margin: 0px;
    background-color: #26282b;
    height: 9vh;
}

.navBar img {
    margin-right: auto;
    margin-top: 1%;
    margin-left: 5%;
    width: 16%;
}

.buttonsNav{
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px;
    height: 40px;
    cursor: pointer;
}

.buttonsNav:hover{
    color: #71b9e9;
}

.iconoNav{
    width: 33px;
    height: 33px;
    font-size: 23px;
}
