.divPadre{
    margin: 10px;
}

.contenedorFormActivity{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    border-radius: 15px;
    padding: 1%;
    margin: auto;
    font-weight: 900;
}

.imageSeason{
    width: 80%;
}

.contenedorGral{
    margin: 15px;
}

.labelActivity{
    font-size: 150%;
}


.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.inputActivity{
    width: 40%;
}

.selectActivity{
    width: 40%;
}

.errorActivity {
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.contenedorImg{
    text-align: center;
}

.contenedorCountries{
    text-align: center;
}

.selectCountries{
    height: 100px;
    width: 90%;
}

.divButtonCountries{
    display: inline-block;
}