.divPadre{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
    
.contenedorCountries {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr)) 1fr; /* Agregamos una fila adicional */
    column-gap: 50px;
    row-gap: 30px;
    padding: 50px;
    min-width: 0;
    overflow: auto;
}

.buttonBack{
    padding: 25px;
}