.Button2{
    background-color: #4F98CA;
    font-size: 80%;
    margin: 10px;
    color: white;
    border-radius: 20px;
    padding: 4%;
    border: 0px;
    cursor: pointer;
    width: 100%;
}

.Button2:hover{
    background-color: white;
    color: #141010;
}

/* #71b9e9 */